.all-content {
  cursor: pointer;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.all-header {
  text-align: left;
  background-color: darkseagreen;
  color: aliceblue;
  font-size: 18px;
  padding: 8px;
}

.true {
  background-color: black;
  color: white;
  background-image: url("/experiment/images/uptriangle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.false {
  background-color: black;
  color: white;
  background-image: url("/experiment/images/downtriangle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
