.contribution-container {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-direction: column;
  column-gap: 0px;
  align-items: center;
  align-self: center;
  line-height: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}

.contributions-display-child {
  flex-grow: 1;
}
.contribution-heading {
  font-size: 3rem;
  margin: 30px;
  font-family: "Comic Sans MS", "Comic Sans";
}
.contribution-response-container {
  margin: 1rem 0rem;
  padding: 1rem;
  font-family: "Comic Sans MS", "Comic Sans";
  line-height: 1.8;
  font-size: 18px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.contribution-img-container {
  background-color: rgb(255, 255, 255);
  max-height: 500px;
  padding: 0px;
  margin: 0px;
  position: relative;
  line-height: 0;
}
.centered-multiplier {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: "Comic Sans MS", "Comic Sans";
  color: antiquewhite;
}
.contribution-img {
  object-fit: contain;
  max-height: 300px;
  padding: 0px;
  top: 50%;
  left: 50%;
  margin: 0px;
  line-height: 0;
  display: block;
}

.text-size {
  font-size: 25px;
}
.contribution-body {
  padding: 0rem 5rem;
  margin: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 150%;
}

.text-area {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Comic Sans MS", "Comic Sans";
  font-weight: 5000;
  font-size: 18px;
  line-height: 1.4;
  width: 200px;
  height: 50px;
  transition: all 0.2s;
  text-align: center;
}

.contribute-button {
  color: antiquewhite;
  margin: 1em;
  background-color: #664735;
  transition-duration: 0.4s;
}

.contribute-button:hover {
  background-color: #4b3427;
}

.contribution-submitted {
  color: #633c26;
}

.contribution-instructions {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  width: 100%;
}
