.punishment-body {
  padding: 0px;
  margin: 0px;
  font-family: "Comic Sans MS", "Comic Sans";
  background-color: rgb(255, 255, 255);
  width: 80%;
}

.otherPlayers {
  padding: 0px;
  display: grid;
  justify-content: center;
}

.punishment-submitted {
  padding: 50px;
  display: grid;
  justify-content: center;
  font-size: 25px;
  color: #1646ad;
}

.instruction-text {
  text-align: center;
  font-size: 20px;
  margin: 10px 0px;
  padding: 0px 100px;
  background-color: rgb(255, 255, 255);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 0px;
  line-height: 0px;
  row-gap: 0px;
  margin: 10px 0px;
  font-family: "Comic Sans MS", "Comic Sans";
}

.contributions-display {
  display: flex;
  flex-grow: 1;
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans";
  flex-direction: row;
  line-height: 1;
  padding: 0px 0px;
  margin: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.contributions-display-child {
  flex-grow: 1;
  font-size: 25px;
  text-align: center;
}

.center-column {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/*
.contributions-display-right-child {
  flex-grow: 1;
  font-size: 25px;
  justify-self: flex-end;
}
*/
.input-area {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Comic Sans MS", "Comic Sans";
  font-weight: 5000;
  font-size: 12px;
  line-height: 1.4;
  width: 150px;
  height: 30px;
  transition: all 0.2s;
  text-align: center;
}
.player-avatar-punishmentview {
  width: 25%;
  height: auto;
  text-align: center;
}

.center {
  text-align: center;
}

.contributions-text {
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
}
.payoff {
  background-color: yellow;
}

.contributions-heading {
  text-align: center;
  padding: 20px 40 px;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  margin: 0px;
}

.all-contributions-image {
  display: block;
  color: antiquewhite;
  background-image: url("/experiment/images/claypot.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  justify-self: center;
  line-height: 12;
  font-family: "Comic Sans MS", "Comic Sans";
}
.contributions-container-punishment {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.line {
  width: 15rem;
  height: 1px;
  display: inline-block;
  padding: 0px;
  border: 1px solid black;
  margin: 0px;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.flex-item-left {
  border-right: 2px solid black;
}
.punish-button {
  color: antiquewhite;
  background-color: #1646ad;
  transition-duration: 0.4s;
  font-size: 18px;
}

.punish-button:hover {
  background-color: #0d2d70;
}
